search_queries_list.py
song_titles_progress.json
song_titles1.json
song_titles2.json
song_titles3.json
song_titles4.json
song_titles5.json
song_titles6.json
song_titles7.json
song_titles8.json
song_titles9.json
song_titles10.json
song_titles11.json
songs.db
spotify_auth.py
progress.json
spotify_authentication.py
